@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";



@layer base {
  .font-dosis {
    font-family: 'Dosis', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }

  .font-pacifico {
    font-family: 'Pacifico', sans-serif;
  }

  .text-primary-500 {
      color: #337ab7
  }

  .text-gray-500 {
    color: #fff
  }


}